.section-con-1 {
  position: relative;
  overflow: hidden;
  display: flex;
  background: linear-gradient(97deg, #ebdff4 0.89%, #fff 95.77%);
  justify-content: center;
}

.img-section-con-1 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.search-input {
  margin: 8px 0px;
}

.frame-child {
  position: absolute;
  width: 349.59px;
  height: 448px;
  top: 5px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  z-index: -5;
}

:host-context([dir="rtl"]) .frame-child {
  right: 6.39%;
}

:host-context([dir="ltr"]) .frame-child {
  left: 6.39%;
}

.paragraph {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  z-index: 1;
}

.tiltle-landing {
  color: var(--Primary-colors-Primary-01, #0c6bcd);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
}
@media (max-width: 768px) {
  .tiltle-landing {
    font-size: 20px;
  }
}

.tiltle-landing-green {
  color: var(--Secondary-3-Green, #3bb54a);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .tiltle-landing-green {
    font-size: 15px;
  }
}

.pg-landing {
  color: #6b6b6b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 15px 0px;
}
@media (max-width: 768px) {
  .pg-landing {
    font-size: 9px;
    padding: 0px 0px;
  }
}

.search-input {
  padding: 9px 32px;
  display: flex;
  border-radius: 24px;
  background: var(--Colors-White-White, #fff);
}

.search-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-logo {
  margin-right: 8px;
}

.location-text {
  text-wrap: nowrap;
  color: var(--black-white-colors-black, #2c143d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .location-text {
    font-size: 8px;
  }
}

.btn-search-location {
  display: flex;
  height: 39px;
  padding: 16px 24px;
  border-radius: 24px !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-align: center;
  border: none;
  transition: 0.3s all;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .btn-search-location {
    font-size: 6px;
    width: 50px;
    height: 20px;
    padding: 8px 12px;
    border-radius: 12px;
  }
}

.search-location {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.search-text-input {
  width: 100%;
  border: 0px solid;
}

.search-text-input:focus {
  outline: none;
}

.divider-location {
  margin: 0px 16px;
  stroke-width: 1px;
  stroke: var(--black-white-colors-gray-1, #e2e6e9);
}

.divider-icon {
  width: 2px;
  height: 50px;
}

@media (max-width: 769px) {
  .tiltle-landing {
    color: var(--Primary-colors-Primary-01, #0c6bcd);
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: -0.26px;
  }
  .tiltle-landing-green {
    color: var(--Secondary-3-Green, #3bb54a);
    font-size: 11px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -0.22px;
  }
  .paragraph {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .frame-child {
    width: 101.59px;
    height: 146.937px;
    flex-shrink: 0;
  }
  .search-input-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  .location,
  .search-location {
    display: flex;
    align-items: center;
  }
  .location-logo,
  .search-logo {
    margin-right: 10px;
  }
  .location-text,
  .search-text-input {
    font-weight: 600;
    font-size: 9px !important;
    color: #0c6bcd;
  }
  .divider-location {
    margin: 0 4px;
  }
  .divider-icon {
    height: 16px;
  }
  .search-text-input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #999;
    flex: 1;
  }
  .btn-search-location {
    background-color: #0c6bcd;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 14px;
  }
  .WMbtn-primary {
    transition: background-color 0.3s;
  }
  .WMbtn-primary:hover {
    background-color: #522580;
  }
  .search-input-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
  }
  .location,
  .search-location,
  .btn-search-location {
    margin-bottom: 10px;
  }
  .btn-search-location {
    font-size: 9px !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .search-location {
    margin: 0px !important;
    padding: 0px !important;
    gap: 0px;
  }
  .search-logo svg {
    width: 8px !important;
    height: 8px !important;
  }
  .location-logo,
  .search-logo {
    margin: 0px !important;
  }
  .location {
    margin: 0px !important;
  }
  .btn-search-location {
    text-align: center;
  }
  .search-text-input {
    width: 100%;
  }
  .search-input {
    padding: 4px 8px;
  }
}
@media (max-width: 768px) {
  .frame-child {
    width: 150px;
    height: 192.22px;
  }
} /*# sourceMappingURL=main-section.component.css.map */
