.section-title {
  align-self: stretch;
  color: var(--black-white-colors-black, #2c143d);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 32px;
}

.card {
  padding-top: 70px;
  padding-bottom: 70px;
  border: 1px solid #e2e6e9 transparent;
  border-radius: 8px;
  background-color: #ffffff;
}

.service-name {
  color: var(--black-white-colors-black, #2c143d);
  text-align: center;
  font-family: Cairo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.image-kitchen img {
  height: 80px;
  width: 100%;
  object-fit: contain;
}

//********* Media Query *****************************

@media (max-width: 576px) {
  swiper-container {
    padding-top: 16px;
  }

  .card {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .image-kitchen {
    padding: 26px 30px;
  }
}
