<div class="bg-landing">
    <div class="container">
        <div class="breadcrumb">
            <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
          </div>  
    </div>
    <div class="section-landing">
        <div class="section-heeder">
          <div class="section-heeder-title">
            <p>
                {{ "Privacy Policy" | translate }}
            </p>
           
          </div>
          </div>
          <div class="container">
            <div class="section ">
                
                <div class="section-sub-title">
                    <p>
                        {{ baseService.splitTextByLanguage('WellnesMap is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you use our website, mobile applications, or any related services ~ تلتزم WellnesMap بحماية خصوصيتك. توضح سياسة الخصوصية هذه كيفية جمعنا واستخدامنا والإفصاح عن معلوماتك الشخصية وحمايتها عند استخدامك لموقعنا الإلكتروني أو تطبيقات الهاتف المحمول أو أي خدمات ذات صلة' || '') }}

                    </p>

                </div>
    
            </div>
            <div class="section ">
                <div class="section-Title">
                    <p> 
                    {{ baseService.splitTextByLanguage('We may collect the following types of personal information from you:~يجوز لنا جمع الأنواع التالية من المعلومات الشخصية منك:' || '') }}
                    </p>
                </div>
                <p>
                    <span class="section-Title-s">
                        {{ baseService.splitTextByLanguage('Information you provide: ~المعلومات التي تقدمها:' || '') }}
                    </span>
                    <span class="section-sub-title">
                        {{ baseService.splitTextByLanguage('This includes your name, email address, phone number, date of birth, medical history, and any other information you choose to provide. ~ يتضمن ذلك اسمك، وعنوان بريدك الإلكتروني، ورقم هاتفك، وتاريخ ميلادك، وسجلك الطبي، وأي معلومات أخرى تختار تقديمها.' || '') }}
                    </span>

                </p>
                <p>
                    <span class="section-Title-s">
                        {{ baseService.splitTextByLanguage('Information collected automatically: ~المعلومات التي تم جمعها تلقائيا:' || '') }}
                    </span>
                    <span class="section-sub-title">
                        {{ baseService.splitTextByLanguage('This includes your IP address, browser type, device information, and usage data.~يتضمن ذلك عنوان IP الخاص بك، ونوع المتصفح، ومعلومات الجهاز، وبيانات الاستخدام.' || '') }}
                    </span>

                </p>
    
            </div>
            <div class="section">
                <div class="section-Title">
                    <p> 
                    {{ baseService.splitTextByLanguage('We may disclose your information to: ~يجوز لنا الكشف عن معلوماتك إلى:' || '') }}
                    </p>

                </div>
                <div class="section-sub-title">
 <ul class="terms-list">
        <li> {{ baseService.splitTextByLanguage('Healthcare providers and medical facilities you book appointments with ~مقدمي الرعاية الصحية والمرافق الطبية التي تحجز المواعيد معها ' || '') }}</li>
        <li> {{ baseService.splitTextByLanguage('Payment processors to process your payments ~معالجات الدفع لمعالجة مدفوعاتك ' || '') }}</li>
        <li> {{ baseService.splitTextByLanguage('Our trusted third-party service providers who assist us in operating our Services ~مقدمو خدمات الطرف الثالث الموثوق بهم الذين يساعدوننا في تشغيل خدماتنا ' || '') }}</li>
        <li> {{ baseService.splitTextByLanguage('Law enforcement or regulatory authorities as required by law ~ سلطات إنفاذ القانون أو السلطات التنظيمية حسبما يقتضيه القانون' || '') }}</li>
    </ul>
                </div>
    
            </div>
            <div class="section ">
                <div class="section-Title">
                    <p> 
                    {{ baseService.splitTextByLanguage('Data Security: ~أمن البيانات:' || '') }}
                    </p>
                </div>
                <div class="section-sub-title">
                    <p>
                        {{ baseService.splitTextByLanguage('We implement reasonable security measures to protect your information from unauthorized access, disclosure, alteration, and destruction. However, no data transmission or storage system can be guaranteed to be 100% secure.   ~نحن نطبق تدابير أمنية معقولة لحماية معلوماتك من الوصول غير المصرح به والإفصاح والتغيير والتدمير. ومع ذلك، لا يمكن ضمان أمان أي نظام لنقل البيانات أو تخزينها بنسبة 100%.' || '') }}
                    </p>

                </div>
    
            </div>
           </div>
      </div>
    </div>