<div class="mb-4">
  <h2
    class="d-inline-block pb-1"
    style="
      font-family: Cairo;
      font-size: 40px;
      font-weight: 700;
      color: #2c143d;
    "
  >
    Top Rated Coaches
  </h2>
  <p
    class="my-3"
    style="
      font-family: Cairo;
      font-size: 20px;
      font-weight: 400;
      color: #a5a5a5;
    "
  >
    Here are some of the most rated Coaches by customers
  </p>
</div>
<div class="position-relative">
  <div class="Coaches-list d-flex" #CoachesList>
    <div *ngFor="let Coach of Coaches" class="me-4">
      <div
        class="card Coach-card shadow-sm mb-4 h-100"
        style="
          width: 19rem;
          border: 1px solid #a5a5a5 transparent;
          border-radius: 8px;
          background-color: #ffffff;
        "
      >
        <img
          class="card-img-top"
          [src]="Coach.image"
          alt="{{ Coach.nameEn }} Image"
          style="border-radius: 8px 8px 0 0"
        />
        <div class="px-3">
          <h5
            style="
              font-family: Cairo;
              font-size: 16px;
              font-weight: 500;
              color: #2c143d;
            "
          >
            {{ Coach.nameEn }}
          </h5>
          <p class="mt-0 desc">
            {{ Coach.description }}
          </p>
        </div>
        <div
          class="d-flex justify-content-between align-items-center w-100 pb-4 px-4"
        >
          <div class="d-flex"></div>
          <a
            style="
              font-family: Cairo;
              font-size: 12px;
              font-weight: 700;
              color: #0c6bcd;
            "
          >
            View profile
            <svg
              style="
                font-family: Cairo;
                font-size: 12px;
                font-weight: 700;
                color: #2c143d;
              "
              width="11"
              height="11"
              viewBox="0 0 11 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3125 5.92188L6.1875 9.85938C5.95312 10.0703 5.60156 10.0703 5.39062 9.83594C5.17969 9.60156 5.17969 9.25 5.41406 9.03906L8.53125 6.0625H0.5625C0.234375 6.0625 0 5.82812 0 5.5C0 5.19531 0.234375 4.9375 0.5625 4.9375H8.53125L5.41406 1.98438C5.17969 1.77344 5.17969 1.39844 5.39062 1.1875C5.60156 0.953125 5.97656 0.953125 6.1875 1.16406L10.3125 5.10156C10.4297 5.21875 10.5 5.35938 10.5 5.5C10.5 5.66406 10.4297 5.80469 10.3125 5.92188Z"
                fill="#2C143D"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="navigation-buttons d-flex justify-content-center position-absolute w-100"
>
  <button class="btn btn-nav" (click)="scrollLeft()">
    <svg
      width="10"
      height="16"
      viewBox="0 0 10 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.13452 7.65234L7.88452 0.9375C8.20093 0.585938 8.72827 0.585938 9.07983 0.9375C9.39624 1.25391 9.39624 1.78125 9.07983 2.09766L2.89233 8.25L9.04468 14.4375C9.39624 14.7539 9.39624 15.2812 9.04468 15.5977C8.72827 15.9492 8.20093 15.9492 7.88452 15.5977L1.13452 8.84766C0.782959 8.53125 0.782959 8.00391 1.13452 7.65234Z"
        fill="#0c6bcd"
      />
    </svg>
  </button>
  <button class="btn btn-nav" (click)="scrollRight()">
    <svg
      width="9"
      height="16"
      viewBox="0 0 9 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.32983 7.65234C8.64624 8.00391 8.64624 8.53125 8.32983 8.84766L1.57983 15.5977C1.22827 15.9492 0.700928 15.9492 0.384521 15.5977C0.032959 15.2812 0.032959 14.7539 0.384521 14.4375L6.53687 8.28516L0.384521 2.09766C0.032959 1.78125 0.032959 1.25391 0.384521 0.9375C0.700928 0.585938 1.22827 0.585938 1.54468 0.9375L8.32983 7.65234Z"
        fill="#0c6bcd"
      />
    </svg>
  </button>
</div>
