<app-main-section></app-main-section>
<div class="bg-landing">
  <div class="container">
    <div id="service-section" class="section-landing">
      <app-service-section></app-service-section>
    </div>
    <div class="section-landing">
      <app-about-us-section></app-about-us-section>
    </div>

    <div class="section-landing">
      <app-journey-section></app-journey-section>
    </div>
    <div class="section-landing">
      <app-faq-section></app-faq-section>
    </div>
  </div>
</div>
